<clr-alert *ngIf="message && message.type === 'warning'" [clrAlertType]="'warning'" [clrAlertAppLevel]="true">
  <clr-alert-item>
    <span class="alert-text">
      {{message.text}}
    </span>
  </clr-alert-item>
</clr-alert>
<clr-alert *ngIf="message && message.type === 'success'" [clrAlertType]="'success'" [clrAlertAppLevel]="true">
  <clr-alert-item>
    <span class="alert-text">
      {{message.text}}
    </span>
  </clr-alert-item>
</clr-alert>
<clr-alert *ngIf="message && message.type === 'error'" [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
  <clr-alert-item>
    <span class="alert-text">
      {{message.text}}
    </span>
  </clr-alert-item>
</clr-alert>
