<div class="content-container">
  <div class="content-area">

    <div class="login-wrapper">

      <form class="login" clrForm clrLayout="vertical" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <section class="title">
          <h3 class="welcome">Register to</h3>
          Company Product Name
          <h5 class="hint">Fill in the fields below to create one ID</h5>
        </section>

        <div class="login-group">
          <clr-input-container>
            <label for="firstName">First Name</label>
            <input clrInput type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <clr-control-error>First Name is required</clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label for="lastName">Last Name</label>
            <input clrInput type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <clr-control-error>LastName is required</clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label for="username">Username</label>
            <input clrInput type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <clr-control-error>Username is required</clr-control-error>
          </clr-input-container>

          <clr-password-container>
            <label for="password">Password</label>
            <input clrPassword type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <clr-control-error *clrIfError="'required'">Password is required</clr-control-error>
            <clr-control-error *clrIfError="'minlength'">Password must be at least 6 characters</clr-control-error>
          </clr-password-container>

          <button [disabled]="loading" class="btn btn-primary">
            Register
            <span *ngIf="loading" class="spinner spinner-inline">
              Loading...
            </span>
          </button>
          <a routerLink="/login" class="signup">Cancel</a>

        </div>

      </form>

    </div>

  </div>
</div>
